<h1>X-PROF</h1>
<p>A cool app to do nice stuff</p>
<p>{{intro}}</p>
<form action="/auth.post" method="post">
    Login:<br>
    <input type="text" name="login" placeholder="Enter login">
    <br>
    Password:<br>
    <input type="password" name="password" placeholder="Enter password">
    <br><br>
    <input type="submit" value="Connexion">
</form>